.header {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 120px; */
    width: 100%;
    background-color: black;
}

.header-left {
    display: flex;
}

.header-left h1 {
    padding-left: 30px;
    font-size: 55px;
    color: white;
}

.header-left img {
    object-fit: contain;
    height: 60px;
    padding-left: 25px;
    padding-top: 9px;
}

.header-right {
    display: flex;
    color: white;
    justify-content: right;
}

.header-right a {
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    font-size: 30px; 
} 


@media screen and (max-width: 52em) {
    .header {
        height: 75px !important;
    }

    .header-left h1{
      display: flex;
      align-items: center;
      font-size: 30px;
      text-align: center;
    }
    .header-right a {
      font-size: 20px;
    }
  }