.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid white;
    background-color: black;
    outline: red;
}

.header-left {
    display: flex;
}

.header-left h1 {
    padding-left: 30px;
    font-size: 55px;
    color: white;
}

.header-left img {
    object-fit: contain;
    height: 60px;
    padding-left: 25px;
    padding-top: 9px;
}

.header-right {
    display: flex;
    color: white;
    justify-content: right;
}

@media screen and (max-width: 45em) {
    .header-left h1{
      display: flex;
      align-items: center;
      font-size: 30px;
      text-align: center;
    }
  }