.slideshow {
  display: flex;
  height: 91vh;
  margin-left: auto;
  margin-right: auto;
}

.slide-img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slideshow img {
  display: block;
  margin-left: auto;
  margin-right: auto
} 

@media screen and (max-width: 45em) {
  .slideshow img {
    display: none;
  }
}

