@import "react-slideshow-image/dist/styles.css";

.each-slide > div { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 91vh;
} 